* {
    margin: 0;
    box-sizing: border-box;
    background-color: azure;
}
.container {
    margin: 10px;
}
.img_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 354px));
    grid-gap: 10px 10px;
}
.card {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.card p {
    text-align: center;
}
.card img {
    width: 350px;
    height: 200px;
    display: block;
    object-fit: cover;
    padding: 6px;
    border-radius: 10px;
}

.img_component {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    background-color: mintcream;
    padding: 20px;
    position: absolute;
    z-index: 1;
}
.img_component p,
h3 {
    background-color: mintcream;
    text-align: center;
}

#close {
    align-self: end;
    padding: 8px;
    background-color: mintcream;
    cursor: pointer;
}

/* #close:hover {
    font-size: larger;

} */

.img_component img {
    object-fit: cover;
    width: 500px;
    height: 330px;
}
