* {
    margin: 0;
    box-sizing: border-box;
    background-color: ghostwhite;
}
.container {
    background-color: aquamarine;
    margin: 10px;
}
.img_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 354px));
    grid-gap: 10px 10px;
}
.card {
    border: 2px solid black;
    border-radius: 5px;
}
.card p {
    text-align: center;
}
.card img {
    width: 350px;
    height: 200px;
    display: block;
    object-fit: cover;
    padding: 6px;
    border-radius: 10px;
}
